[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
watchdog = "*"

[packages]
flask = "*"
requests = "*"
flask-wtf = "*"
python-dotenv = "*"
gunicorn = "*"
pysocks = "*"

[requires]
python_version = "2.7"
