<!-- Sub results page for mobile device asynchronous loading -->
{% if results is not none %}
  {% for item in results['items'] %}
  <div class="g">
    <div class="rc">
      <div class="r">
        <a href="{{ item['link'] }}" class="title">
          <h3>{{ item['title'] }}</h3>
          <div class="TbwUpd">
            <cite class="iUh30">{{ item['displayLink'] }}</cite>
          </div>
        </a>
      </div>
      <div class="s">
        <div>
          <span class="st">
            {{ item['htmlSnippet']|replace('<br>', '')|safe }}
          </span>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% else %}
  <div class="resultstates" id="resultStates">
    "Oops, 你来到了世界的尽头。。。"
  </div>
{% endif %}
